*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100vh;
}



header{
    min-height: 250px;
    height: auto;
    width: 100%;
    background: dodgerblue;
}

.top{
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm{
    height: 200px;
    background: mediumpurple;
    width: 300px;
    margin: 10px;
}

.mid{
    display: flex;
    height: auto;
    min-height: 300px;
    background: rgba(0,0,0,0.2);
    align-items: center;
}

.col-lg{
    display: flex;
    background: white;
    align-items: center;
    height: 300px;
    width: 100%;
}

.left{
    width: 30%;
    background: mediumpurple;
}

.right{
    flex-grow: 1;
    background: rgba(0,0,0,0.1);
    margin-right: auto;
    justify-content: center;
}


footer{
    height: 200px;
    background: dodgerblue;
}




